{% extends '../../views/base.html.twig' %}
{% block title %}
    Envoyer une nouvelle
{% endblock %}

{% block body %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
{% endblock %}