{% extends 'base.html.twig' %}
{% block title %}
    Mon compte
{% endblock %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s4"></div>
        <div class="col s1"><a href="javascript: history.go(-1)" class="green-text text-darken-2"><i class="medium material-icons">arrow_back</i> </a></div>
        <div class="col s3">
            {% block fos_user_content %}
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn green" type="submit" value="Changer mon mot de passe"/>
                </div>
                {{ form_end(form) }}
            {% endblock fos_user_content %}
        </div>
    </div>

{% endblock %}