{% extends 'base.html.twig' %}
{% block title %}
    Mes commentaires
{% endblock %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col s1"></div>
    <div class="col s1"><a href="javascript: history.go(-1)" class="green-text text-darken-2"><i class="medium material-icons">arrow_back</i> </a></div>
    <div class="col s8">
        <table class="responsive-table highlight">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(commentaires , 'Nouvelle', 'i.nouvelle.titre') }}</th>
                <th>Commentaire</th>
                <th>{{ knp_pagination_sortable(commentaires , 'Publié le', 'i.published_at') }}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for commentaire in commentaires %}
                <tr>
                    <td>{{ commentaire.nouvelle.titre }}</td>
                    <td>{{ commentaire.contenu }}</td>
                    <td><a href="{{ path('commentaireDelete',{'id':commentaire.id}) }}" class="btn btn-warning"> <span
                                    class="glyphicon glyphicon-trash"></span> </a></td>
                </tr>
            {% else %}
                <td></td>
                <td>Vous n'avez pas publié de commentaire.</td>
                <td></td>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="pagination">
            {{ knp_pagination_render(commentaires) }}
        </div>
    </div>
</div>

{% endblock %}