{% extends 'base.html.twig' %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}
<div class="container" style="max-width: 400px;  margin-top: 50px; margin-bottom: 50px;">
    <div class="col s2 center" >

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
    </div>
</div>
{% endblock body %}