{% extends 'base.html.twig' %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}
<div class="container" style="max-width: 400px;  margin-top: 50px; margin-bottom: 50px;">
    <div class="col s2 center" >

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="waves-effect green waves-light btn" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}
    </div>
</div>
{% endblock body %}