{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
 {% block menuIndex %}

     <!-- Fixed Masonry Filters -->
     <div class="categories-wrapper green darken-1">
         <div class="categories-container">
             <ul class="categories container">

             </ul>
         </div>
     </div>
 {% endblock %}

{% block body %}
    <div class="col-xs-12">
        <h2 class="text-center"></h2>
    </div>

    <div class="col-xs-12 col-sm-3">
        <form action="{{ path('filter') }}" method="post">
        <div class="form-group">
            <label for="categories">Categories</label>
            <select class="form-control selectpicker" name="categories[]" title="Non défini" multiple>
                {% for categorie in categories %}
                    <option value="{{ categorie.nom }}">{{ categorie.nom }}</option>
                {% endfor %}
            </select>

        </div>
        </form>
    </div>

<div class="col-xs-12 col-sm-9">
    <div id="portfolio" class="section gray">
                <div class="gallery row">
                    {% for nouvelle in nouvellePublished %}
                        <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter sintel">
                            <div class="gallery-curve-wrapper">
                                <div class="gallery-header">
                                    <span>{{ nouvelle.titre }}</span>
                                    <p class="caption">
                                        {{ nouvelle.extrait[:500]|raw }}
                                    </p>
                                </div>
                                <div class="gallery-body">
                                    <div class="title-wrapper">
                                        <h3>{{ nouvelle.titre }}</h3>
                                    </div>
                                    <p class="description">
                                        {{ nouvelle.contenu|raw }}
                                    </p>
                                    <br><br>
                                    <p class="light">Publié par {{ nouvelle.user }} {% if nouvelle.published_at is defined %} le {{ nouvelle.published_at|date('d/m/Y H:i', "Europe/Paris") }}{% endif %}. </p>
                                    <br><br>
                                </div>
                                <div class="gallery-action">
                                    <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <h4>Pas encore de nouvelles publiées !</h4>
                    {% endfor %}
            </div>
       </div>
    {# display navigation #}
    <div class="pagination">
        {{ knp_pagination_render(nouvellePublished) }}
    </div>
   </div>

{% endblock %}
