{% extends 'base.html.twig' %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}
    <div class="container" style="max-width: 400px; margin-top: 50px; margin-bottom: 50px;">
        <div class="col s2 center" >
            {% block fos_user_content %}
                {#{{ include('login_content.html.twig') }}#}
                {% trans_default_domain 'FOSUserBundle' %}

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required" />

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me" style="margin-right: 20px;">{{ 'security.login.remember_me'|trans }}</label>

                    <input type="submit" class="waves-effect green waves-light btn" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </form>
            {% endblock fos_user_content %}
        </div>
    </div>

{% endblock %}