{% extends 'base.html.twig' %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}

    <div class="alert alert-success">
        {% trans_default_domain 'FOSUserBundle' %}
    </div>

<div class="container" style="max-width: 400px;  margin-top: 50px; margin-bottom: 50px;">
    <div class="col s2 center" >
{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}
    </div>
</div>
{% endblock body %}