{% extends 'base.html.twig' %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}
<div class="container" style="max-width: 400px;  margin-top: 50px; margin-bottom: 50px;">
    <div class="col s2 center" >
{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" />
        </div>
        <div>
            <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </form>

{% endblock fos_user_content %}
    </div>
</div>
{% endblock body %}