{% extends 'base.html.twig' %}
{% block title %}
    Mon compte
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s11">
        <div class="col s4">
            <div class="card orange lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">Vos informations</span>
                    <p>
                    <table>
                        <tr>
                            <td><strong>Pseudo</strong></td>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td><strong>Adresse mail</strong></td>
                            <td>{{ user.email }}</td>
                        </tr>
                    </table>
                    </p>
                </div>
                <div class="card-action">
                    <a href="{{ path('fos_user_profile_edit') }}" class="blue-grey-text">Modifier mes informations</a>
                    <a href="{{ path('fos_user_change_password') }}" class="blue-grey-text">Modifier mon mot de passe</a>
                </div>
            </div>
        </div>
            <div class="col s4">
                <div class="card light-green lighten-1">
                    <div class="card-content white-text">
                        <span class="card-title">Les commentaires laissés</span>
                        <p>
                        <table>
                            <tr>
                                <td><strong>Pseudo</strong></td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td><strong>Adresse mail</strong></td>
                                <td>{{ user.email }}</td>
                            </tr>
                        </table>
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('commentaires') }}" class="blue-grey-text">Voir tous les commentaires laissés</a>
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="card blue-grey lighten-3">
                    <div class="card-content white-text">
                        <span class="card-title">Les commentaires sur vos nouvelles</span>
                        <p>
                        <table>
                            <tr>
                                <td><strong>Pseudo</strong></td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td><strong>Adresse mail</strong></td>
                                <td>{{ user.email }}</td>
                            </tr>
                        </table>
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('commentReceive') }}" class="blue-grey-text">Voir tous les commentaires reçus</a>
                    </div>
                </div>
            </div>

    </div>
    </div>


    <div class="row">
        <div class="col s4"></div>
        <div class="col s3">
                <p>Vous pouvez supprimer votre compte à tout moment, toutes les informations et nouvelles seront supprimées.</p>
                <button class="btn red"><a href="supprimer" class="white-text">Supprimer mon compte</a></button>
        </div>
    </div>
{% endblock %}