{% extends 'base.html.twig' %}
{% block title %}
    Profil de {{ user.username }}
{% endblock %}

{% block body %}
    <div class="row">
            <h4 class="center"><strong>{{ user.username }}</strong></h4>
            <p>Dernière connexion : {{ user.lastLogin|date('d/m/Y', "Europe/Paris") }}</p>
            <p>Auteur ou Lecteur?</p>
            <h3>Activités</h3>
            <p>Nombre de nouvelles créées :</p>
            <p>Nombre de commentaires laissés :</p>
            <p>Sa dernière nouvelle si auteur</p>

        <div class="col s4">
            <div class="card light-green lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">Les commentaires laissés</span>
                    <p>
                        {% for commentaire in threeLastComments %}
                        <div class="block-commentaire white black-text">
                            {% if app.user == commentaire.auteur %}
                                <p class="right-align">
                                    <a href="{{ path('commentDelete',{'id':commentaire.id} ) }}"> <i class="material-icons">delete</i></a>
                                </p>
                            {% endif %}
                            <p>{{ commentaire.note }}/5</p>
                            <p>{{ commentaire.contenu }}</p>
                            <p class="small grey-text">{{ commentaire.published_at|date('d/m/Y H:i', "Europe/Paris") }} sur <strong>{{ commentaire.nouvelle.titre|raw }}</strong></p>
                        </div>
                         {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}