<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Ecrire et Partager{% endblock %}</title>
    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ asset("css/style.css") }}" rel="stylesheet">
        <link href="{{ asset("css/bttn.min.css") }}" rel="stylesheet">
        <link href="{{ asset("css/materialize.min.css") }}" rel="stylesheet">
        <!-- Lato Font -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

        <!-- Stylesheet -->
        <link href="{{ asset("css/gallery-materialize.css") }}" rel="stylesheet">

        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Bootstrap select -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    {% endblock %}
    <link href="{{ asset("vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">

    <!-- bootstrap select-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!--Javascript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ asset("js/materialize.min.js") }}"></script>
</head>
<body class="blog" style="margin: 0">
<!-- Navbar and Header -->
<nav class="nav-extended green">
    {% block middleHeader %}

    {% endblock %}
    <div class="nav-background">
        <div class="pattern active" style="background-image: url('http://placehold.it/1400x300');"></div>
    </div>
    <div class="nav-wrapper container">

        <ul class="right hide-on-med-and-down">
            <li><a class="active" href="{{ path('homepage') }}">Accueil</a></li>
            {% if app.user %}
            <li><a href="{{ path('nouvelles') }}">Mes nouvelles</a></li>
            <li><a href="{{ path('monCompte') }}">Mon compte</a> </li>
            <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
            {% endif %}

            {% if app.user and is_granted("ROLE_SUPER_ADMIN") %}
                <li><a href="/lauAdmin82117690">Administration</a></li>
            {% endif %}
        </ul>

        {% if app.user and is_granted("ROLE_SUPER_ADMIN") %}
        <ul id="administration" class="dropdown-content">
            <li><a href="#">Admin 1</a> </li>
            <li><a href="#">Admin 2</a> </li>
            <li><a href="#">Admin 2</a> </li>
        </ul>
        {% endif %}
        <div class="nav-header center">
            <h1>Ecrire et Partager</h1>
            <div class="tagline">Ecrivain : Partagez vos nouvelles</div>
            <div class="tagline">Lecteur : soutenez-les !</div>
        </div>
    </div>

    {% block menuIndex %}
    {% endblock %}
</nav>
<ul class="side-nav" id="nav-mobile">
    <li class="active"><a href="{{ path('homepage') }}"><i class="material-icons">camera</i>Accueil</a></li>
    {% if app.user %}
    <li><a href="{{ path('nouvelles') }}"><i class="material-icons">brightness_3</i>Mes nouvelles</a></li>
    <li><a href="{{ path('nouvelleCreate') }}"><i class="material-icons">edit</i>Créer une nouvelle</a></li>
    <li><a href="{{ path('monCompte') }}"><i class="material-icons">settings</i>Mon compte</a> </li>
    <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
    {% else %}
    <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
    <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
    {% endif %}
</ul>
<header>
<div class="col-xs-10 col-xs-offset-1">
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <p> {{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible">
            <p> {{ message }}</p>
        </div>
    {% endfor %}
</div>
</header>
<main>
    {% block body %}{% endblock %}

</main>


{% block contact %} {% endblock %}

{% block footer %}
    {{ include('element/footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ include('element/_javascript.html.twig') }}
{% endblock %}
</body>
</html>
