{% extends 'base.html.twig' %}
{% block title %}
    Envoyer une nouvelle
{% endblock %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}
            <h1 class="text-center">Envoyer une nouvelle</h1>
    <div class="row">
    <div class="col-sm-1"></div>
<div class="col-xs-12 col-sm-10">
    {#{{ form(form, {'attr' : {'novalidate' : 'novalidate'}}) }}#}
    <form method="POST">
            <div class="col-xs-12">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_errors(form.titre) }}
                    <label>Titre</label>
                    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="form-group text-center">
                    {{ form_errors(form.extrait) }}
                    <label>Extrait : L'extrait est le premier aperçu de votre oeuvre, soignez la!</label>
                    {{ form_widget(form.extrait, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="form-group text-center">
                    {{ form_errors(form.contenu) }}
                    <label>Contenu : n'écrivez pas directement ici, écrivez sur un autre support puis copiez-collez le! Si quelque chose se passe mal vous risquez de perdre votre travail.</label>
                    {{ form_widget(form.contenu, {'attr': {'class': 'form-control', 'style' : 'height : 800px;'}}) }}
                </div>
            </div>
            <div class="col-xs-12 text-center">
                <div class="form-group">
                    <br>
                    <label><strong>Relisez vous et envoyez votre nouvelle oeuvre. Vous pourrez ensuite la publier quand vous
                            voulez depuis la section "Mes nouvelles".</strong></label>
                    <br>
                    <br>
                    <br>
                    <button class="btn waves-effect waves-light" type="submit" method="POST">Envoyer
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        {{ form_end(form, {'render_rest': true}) }}
    </form>
</div>
    </div>
{% endblock %}