{% extends 'base.html.twig' %}
{% block title %}
    {{ nouvelle.titre }}
{% endblock %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h2>
            {% if nouvelle.published_at is null %}
                <span class="label label-danger">Non publié</span>
                <a href="{{ path('nouvellesPublish',{'id':nouvelle.id}) }}" class="btn btn-success">Publier</a>
            {% else %}
                <span class="label label-success">Publié le {{ nouvelle.published_at|date('d/m/Y H:i', "Europe/Paris") }}</span>
            {% endif %}
        </h2>
    {% endif %}
    <div class="row">
        <div class="col m1 l2"></div>
    <div class="col s12 m10 l8 nouvelle-page">
            <h4 class="center"><strong>{{ nouvelle.titre|raw }}</strong></h4>
        <p class="left-align"><a href="{{ path('publicProfile',{'id':nouvelle.user.id} ) }}">{{ nouvelle.user.username }}</a></p>
            <p>{{ nouvelle.contenu|raw }}</p>
    </div>
    </div>
    <div class="container-fluid row">
        <h3 class="text-center">Commentaires</h3>

        <div class="col s4"></div>

        {{ form_start(form) }}
        <div class="col s4">
            {{ form_errors(form.contenu) }}
            <label>Commentaire</label>
            {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
            <label>Note : </label>
            {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col s2">
            <button class="btn waves-effect waves-light" type="submit" method="POST">Envoyer
                <i class="material-icons right">send</i>
            </button>
        </div>
        {{ form_end(form, {'render_rest': true}) }}

        <div class="col s12">
            <div class="col s3"></div>
            <div class="col s6">
            {% for commentaire in commentaires %}
                <div class="block-commentaire white">
                    <p class="right-align"><a href="{{ path('commentDelete',{'id':commentaire.id} ) }}"> <i class="material-icons">delete</i></a></p>
                    <p>{{ commentaire.note }}/5</p>
                    <p>{{ commentaire.contenu }}</p>
                    <p class="small grey-text">{{ commentaire.auteur.username }}, {{ commentaire.published_at|date('d/m/Y H:i', "Europe/Paris") }}</p>
                </div>
            {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}