{% extends 'base.html.twig' %}
{% block title %}
    Modifier une nouvelle
{% endblock %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}
    <h1 class="text-center">Modifier une nouvelle</h1>
    {#{{ form(form, {'attr' : {'novalidate' : 'novalidate'}}) }}#}
    <form method="POST">
        <div class="col-xs-12 col-md-6">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_errors(form.titre) }}
                <label>Titre</label>
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label>Catégorie 1 </label>
                {{ form_widget(form.categorie1, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>Catégorie 2 </label>
                {{ form_widget(form.categorie2, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-4">
            <div class="form-group">
                {{ form_errors(form.extrait) }}
                <label>Extrait : L'extrait est le premier aperçu de votre oeuvre, soignez la!</label>
                {{ form_widget(form.extrait, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="form-group">
                {{ form_errors(form.contenu) }}
                <label>Contenu</label>
                {{ form_widget(form.contenu, {'attr': {'class': 'form-control', 'style' : 'height : 800px;'}}) }}
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <div class="form-group">
                <p><strong>Relisez vous et envoyez votre nouvelle oeuvre. Vous pourrez ensuite la publier quand vous
                        voulez depuis la section "Mes nouvelles".</strong></p>
                <br>
                <input type="submit" class="btn btn-primary" style="font-weight: bold;" value="Envoyer" method="POST"/>
            </div>
        </div>
        {{ form_end(form, {'render_rest': true}) }}
    </form>

{% endblock %}