{% extends 'base.html.twig' %}
{% block title %}
    Mes nouvelles
{% endblock %}
{% block middleHeader %}
    <a href="{{ path('homepage') }}" class="brand-logo"><i class="material-icons">camera</i>Ecrire et Partager</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col xs12 s10 offset-s1 m8 offset-m2">
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <a href="{{ path('nouvelleCreate') }}" class="btn btn-primary">Ajouter une nouvelle</a>
            </div>
            <table class="responsive-table highlight">
                <thead>
                <tr>
                    <th>Publié?</th>
                    <th>{{ knp_pagination_sortable(nouvelles , 'Titre', 'i.titre') }}</th>
                    <th>{{ knp_pagination_sortable(nouvelles , 'Extrait', 'i.extrait') }}</th>

                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for nouvelle in nouvelles %}
                    <tr>
                        {% if nouvelle.published_at is defined %}
                            <td class="green text-center gras">{{ nouvelle.published_at|date('d/m/Y H:i', "Europe/Paris") }}</td>
                        {% else %}
                            <td class="red text-center gras"><a href="{{ path('nouvellePublish',{'id':nouvelle.id}) }}"> Publier maintenant</a></td>
                        {% endif %}
                        <td>{{ nouvelle.titre }}</td>
                        <td>{{ nouvelle.extrait|raw }}</td>
                        <td><a href="{{ path('nouvelleDetail',{'id':nouvelle.id}) }}" class="btn btn-success"> <span
                                        class="glyphicon glyphicon-eye-open"></span> </a></td>
                        <td><a href="{{ path('nouvelleEdit',{'id':nouvelle.id}) }}" class="btn btn-warning"> <span
                                        class="glyphicon glyphicon-pencil"></span> </a></td>
                    </tr>
                {% else %}
                    <td></td>
                    <td>Vous n'avez pas de nouvelles publiées</td>
                    <td></td>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="pagination">
                {{ knp_pagination_render(nouvelles) }}
            </div>
        </div>
    </div>

{% endblock %}