
h1 {
    margin-bottom : 50px;
}
h3 {
    font-weight: 500;
}
strong {
    font-weight: bold !important;
}
/************
Form
****** */
form label, input {
    font-size: 16pt;
}


/*************/
/*Custom Menu*/
/*************/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
/*************/
/*general*/
/*************/
.text-center {
    text-align: center;
}
.gras {
    font-weight: bold;
}
hr {
    width:80%;
    height:3px;
    background: #fff;
}
hr.style18 {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style18:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
/*************/
/*SideBar menu*/
/*************/
/* make sidebar nav vertical */
.sidebar-nav .navbar ul {
    float: none;
    width: 100%;
}
.sidebar-nav .navbar-nav li a {
    color: black !important;
    font-weight: 500 !important;
}
.sidebar-nav .navbar-nav li a:hover, a:focus, a:active {
    color: black !important;
    background-color: whitesmoke;
}

@media (min-width: 768px) {
    .sidebar-nav .navbar {
        border: none;
        box-shadow: 1px 1px 1px 1px #888888;
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
        border: none;
    }

    .sidebar-nav .navbar-nav ul:not {
        display: block;
    }
    .sidebar-nav .navbar-nav li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}
/*************/
/*Body*/
/*************/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.block-commentaire {
    box-shadow: 5px 5px 5px #888888;
    height: auto;
    margin: 20px;
}
.block-commentaire p {
    margin: 10px;
    texte-align:justify;
    word-wrap: break-word;
}
.textarea-nouvelle {
    min-width: 500px;
}
.container-mini-fiche {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-content: space-around;

}
.mini-fiche {
    flex-grow : 1;
    background-color: #5599cd;
    margin: 20px;
    max-width: 300px;
    vertical-align: middle;
    word-wrap: break-word;
    overflow: visible;
    padding : 15px;
    box-shadow: 1px 1px 1px 1px #888888;
}
.mini-fiche > h3 {
    font-size: 20pt;
    font-weight: 700;
}
.mini-fiche > p {
    max-width:100%;
    font-size: 16pt;
    font-weight: 100;
}
.mini-fiche-date {
    font-size: 14pt;
    font-weight: lighter;
}

.nouvelle-page {
    margin: 20px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    background-color: white;
}
.nouvelle-page > p {
    font-size: large;
   margin: 50px;
}
.nouvelle-page h4 {
    margin-bottom: 50px;
}
/***************
Block
**************/
.block-invisible {
    height:500px;
    margin:20px;
}
.block-invisible p {
    color: grey;

}
/**************
Table
 *************/

/*************/
/*Contact section*/
/*************/
.contact-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/************
    Couleurs
 ************/

.background-rouge {
    background-color: #FF0000;
}
.background-orange {
    background-color: #FF8000;
}
.background-jaune {
    background-color: #FFFF00;
}
.background-vert {
    background-color: #008000;
}
.background-bleu {
    background-color: #0000FF;
}
.background-violet {
    background-color: #A000C0;
}
.background-white {
    background-color: white;
}

/*******
Profile card
 */

h1,
h2 {
    font-weight: 500;
    margin: 0px 0px 5px 0px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

p {
    margin: 0px;
}

.profile-card {
    background: #FFB300;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card header {
    width: 179px;
    height: 280px;
    padding: 40px 20px 30px 20px;
    display: inline-block;
    float: left;
    border-right: 2px dashed #EEEEEE;
    background: #FFFFFF;
    color: #000000;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
    color: #FF5722;
}

.profile-card header a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 25px 30px;
}

.profile-card header a:after {
    position: absolute;
    content: "";
    bottom: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    border: 4px solid #FFFFFF;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
    animation: scaleIn 0.3s 3.5s ease forwards;
}

.profile-card header a > img {
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.profile-card header a:hover > img {
    -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-bio {
    width: 175px;
    height: 180px;
    display: inline-block;
    float: right;
    padding: 50px 20px 30px 20px;
    background: #FFFFFF;
    color: #333333;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links {
    width: 218px;
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 15px 20px;
    background: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links li {
    list-style: none;
    margin: -5px 0px 0px 0px;
    padding: 0px;
    float: left;
    width: 25%;
    text-align: center;
}

.profile-social-links li a {
    display: inline-block;
    color: red;
    width: 24px;
    height: 24px;
    padding: 6px;
    position: relative;
    overflow: hidden!important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-social-links li a i {
    position: relative;
    z-index: 1;
}

.profile-social-links li a img,
.profile-social-links li a svg {
    width: 24px;
}

@-webkit-keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes puff {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }
    100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@keyframes puff {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }
    100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@-webkit-keyframes borderRadius {
    0% {
        -webkit-border-radius: 50%;
    }
    100% {
        -webkit-border-radius: 0px;
    }
}

@keyframes borderRadius {
    0% {
        -webkit-border-radius: 50%;
    }
    100% {
        border-radius: 0px;
    }
}

@-webkit-keyframes moveDown {
    0% {
        top: 50%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 100%;
    }
}

@keyframes moveDown {
    0% {
        top: 50%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 100%;
    }
}

@-webkit-keyframes moveUp {
    0% {
        background: #FFB300;
        top: 100%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 50%;
        background: #E0E0E0;
    }
}

@keyframes moveUp {
    0% {
        background: #FFB300;
        top: 100%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 50%;
        background: #E0E0E0;
    }
}

@-webkit-keyframes materia {
    0% {
        background: #E0E0E0;
    }
    50% {
        -webkit-border-radius: 4px;
    }
    100% {
        width: 440px;
        height: 280px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
    }
}

@keyframes materia {
    0% {
        background: #E0E0E0;
    }
    50% {
        border-radius: 4px;
    }
    100% {
        width: 440px;
        height: 280px;
        background: #FFFFFF;
        border-radius: 4px;
    }
}

@-webkit-keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: -20px;
    }
}

@keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: -20px;
    }
}

@-webkit-keyframes scaleIn {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
    }
}

@media screen and (min-aspect-ratio: 4/3) {
    body {
        background-size: cover;
    }
    body:before {
        width: 0px;
    }
@-webkit-keyframes puff {
0% {
    top: 100%;
    width: 0px;
    padding-bottom: 0px;
}
100% {
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
}
}
@keyframes puff {
    0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
    }
    100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
    }
}
}

@media screen and (min-height: 480px) {
    .profile-card header {
        width: auto;
        height: auto;
        padding: 30px 20px;
        display: block;
        float: none;
        border-right: none;
    }
    .profile-card .profile-bio {
        width: auto;
        height: auto;
        padding: 15px 20px 30px 20px;
        display: block;
        float: none;
    }
    .profile-social-links {
        width: 100%;
        display: block;
        float: none;
    }
@-webkit-keyframes materia {
0% {
    background: #E0E0E0;
}
50% {
    -webkit-border-radius: 4px;
}
100% {
    width: 280px;
    height: 440px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
}
}
@keyframes materia {
    0% {
        background: #E0E0E0;
    }
    50% {
        border-radius: 4px;
    }
    100% {
        width: 280px;
        height: 440px;
        background: #FFFFFF;
        border-radius: 4px;
    }
}
}

